<nav class="red">
	<ul class="no-list no-padding text-center">
		<li class="col-md-4 inline-block white-text tall-padding">
			<%= link_to 'Inicio', root_path, class: "right-space white-text" %>
		</li>
		<li class="col-md-4 inline-block white-text tall-padding">
			<%= link_to 'Mis listas', lists_path, class: "right-space white-text"  %>
		</li>
		<li class="col-md-4 inline-block white-text tall-padding">
			<%= link_to 'Tareas', assignments_path, class: "right-space white-text"  %>
		</li>
	</ul>
</nav>
            